streamlit==1.36.0
langchain==0.2.7
langchain-community==0.2.7
langchain-huggingface==0.0.3
langchain-chroma==0.1.2
chromadb==0.5.3
langchain-groq==0.1.6
sentence-transformers==3.0.1
pytest==8.2.2
pypdf==4.2.0
docx2txt==0.8
python-dotenv==1.0.1
tf-keras==2.17.0
